@import "variables";


header, button, footer {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

body, summary {
	font-family: "futura-pt";
	h2 {
		text-transform: uppercase;
	}
}

details {
	text-transform: none;
		summary {
			text-transform: uppercase;
		}
	}

