@import "variables";


* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

:focus {
	outline: 0;
}


/* MIXINS */

.black-menu {
	color: @gray;
	font-size: 0.8rem;
	font-weight: 600;
	margin-right: 20%;
}

/* END MIXINS */



header, button, footer {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

body, summary {
	font-family: "futura-pt";
	h2 {
		text-transform: uppercase;
	}
}

details {
	text-transform: none;
		summary {
			text-transform: uppercase;
		}
	}

.bgimage {
	background-image: url('img/bw-background-original.png');
	background-position: center center;
	background-size: cover;
	height: 120px;
	text-align: right;
	padding-top: 10px;
}

.header-top ul, .footer-bottom ul {
	.black-menu()
}

.header-top ul li {
	display: inline;
	padding: 10px;
	img {
		max-width: 20px;
		margin-top: 5px;
		margin-right: 20px;
		margin-bottom: -5px;
	}
}

.header-bottom {
	display: flex;
	align-items: center;
	img {
		width: 50px;
		height: 50px;
		padding: 10px;
	}
	.ch-holdings {
		display: flex;
		align-items: center;
		text-transform: none;
		font-size: 0.7rem;
		width: 35%;
	}
	.header-bottom-right {
		display: flex;
		width: 65%;
		font-size: 0.75rem;
		.contact-info {
			z-index: 1;
			text-align: center;
			background-color: @white;
			padding: 30px 10px 0 10px;
			-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			border: 1px solid @gray;
			border-top: none;
			width: 55%;
			max-width: 450px;
		}
		nav {
			display: flex;
			width: 45%;
			justify-content: flex-end;
			button {
				padding: 25px 10% 20px 10%;
				font-size: 1.2rem;
				-webkit-border-radius: 0 0 0px 10px;
				border-radius: 0 0 0px 10px;
				@media (min-width: 1420px) {
					-webkit-border-radius: 0 0 10px 10px;
					border-radius: 0 0 10px 10px;
					}
				}
			.nav-button1 {
				font-weight: 700;
				color: @gray;
				p {
					border-bottom: 2px solid @green;
				}
			}
			.nav-button2 {
				background-color: @green;
				color: @white;
			}
		}
	}
}





.footer-bottom {
	padding-bottom: 20px;
}

.footer-menu ul li {
	padding: 2px 10px;
}

.footer-social {
	margin-right: 20%;
	img {
		max-width: 30px;
		margin-top: 20px;
		margin-bottom: 5px;
		padding: 0 1%;
	}
}


