* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
:focus {
  outline: 0;
}
/* MIXINS */
.black-menu {
  color: #444444;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 20%;
}
/* END MIXINS */
.site-container {
  text-align: center;
  overflow-x: hidden;
}
.site-container header summary {
  text-align: right;
}
header,
button,
footer {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
body,
summary,
details {
  font-family: "futura-pt";
}
body h2,
summary h2,
details h2 {
  text-transform: uppercase;
}
header details {
  text-transform: none;
  padding: 10px;
}
header details summary {
  padding: 5px 15px;
  font-size: 1rem;
}
header details p {
  width: 175px;
  float: right;
}
.bgimage {
  background-image: url('img/bw-background-original.png');
  background-position: center center;
  background-size: cover;
  height: 120px;
  text-align: right;
  padding-top: 10px;
}
.header-top ul,
.footer-bottom ul {
  color: #444444;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 20%;
}
.header-top ul li {
  display: inline;
  padding: 10px;
}
.header-top ul li img {
  max-width: 20px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: -5px;
}
.header-bottom {
  display: flex;
  align-items: center;
}
.header-bottom img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.header-bottom .ch-holdings {
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 0.7rem;
  width: 35%;
}
.header-bottom .header-bottom-right {
  display: flex;
  width: 65%;
  font-size: 0.8rem;
}
.header-bottom .header-bottom-right .contact-info {
  z-index: 1;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px 10px 0 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #444444;
  border-top: none;
  width: 55%;
  max-width: 450px;
  text-transform: none;
  letter-spacing: 0.05em;
}
.header-bottom .header-bottom-right .contact-info .bold {
  font-weight: 700;
}
.header-bottom .header-bottom-right nav {
  display: flex;
  width: 45%;
  justify-content: flex-end;
}
.header-bottom .header-bottom-right nav button {
  padding: 25px 10% 20px 10%;
  font-size: 1.2rem;
  -webkit-border-radius: 0 0 0px 10px;
  border-radius: 0 0 0px 10px;
}
@media (min-width: 1420px) {
  .header-bottom .header-bottom-right nav button {
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
}
.header-bottom .header-bottom-right nav .nav-button1 {
  font-weight: 700;
  color: #444444;
}
.header-bottom .header-bottom-right nav .nav-button1 p {
  border-bottom: 2px solid #008a7b;
}
.header-bottom .header-bottom-right nav .nav-button2 {
  background-color: #008a7b;
  color: #f2f2f2;
}
main h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  main h1 {
    margin-top: 183px;
    font-size: 1.15rem;
    font-weight: 400;
  }
}
main section img {
  width: 90%;
}
@media (min-width: 1024px) {
  main {
    text-align: left;
  }
}
aside .middle-social {
  display: flex;
  justify-content: center;
}
aside img {
  max-width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0 1%;
}
.false-idol-logo {
  max-width: 280px;
}
@media (min-width: 1024px) {
  .false-idol-logo {
    float: left;
    max-width: 350px;
    margin-top: -183px;
  }
}
.footer-bottom {
  padding-bottom: 20px;
}
.footer-menu ul li {
  padding: 2px 10px;
}
.footer-social {
  margin-right: 20%;
}
.footer-social img {
  max-width: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0 1%;
}

/*# sourceMappingURL=styles.css.map */